.top {
    background-color: #2d7053;
    width: 750px;
    height: 235px;
    margin: 0px auto;
}

.top img {
    margin-top: 47px;
    margin-left: 38px;
}
.text {    display: inline-block;
    width: 134px;
    height: 131px;
font-size: 31px;
color: rgba(255, 255, 255, 255);
font-family: sans-serif;
padding-left: 58px;
padding-top: 52px;
}
.table {
    display: inline-block;
    padding-left: 226px;
    padding-bottom: 21px;
}
.table span {
    width: 84px; height: 12px;
    background-color: #ffffff;
    margin: 16px;
    display: block;
    border-radius: 6px; 
}

.office {
    width: 750px;
    height: 466px;
    background-repeat: no-repeat;
    margin: 0px auto;

}
.btn {
    width: 341px;
height: 74px;
background-color: #cb9223;
position: relative;
text-align: center;
bottom: 125px;
left: 205px;
    
}
.btn2 
{
    color: #ffffff;
    padding: 26px 45px 0px 44px;
    font-size: 21px;
}

.bio {
    width: 750px;
    font-size: 0.8rem;
    margin: 0 auto;
    
}
.img {
    display: inline-block;
    margin-left: 44px;
    margin-top: 73px;
    border-radius: 100%;

}
.fio {display: inline-block;

    padding-top: 134px;
    padding-left: 75px;
    font-family: sans-serif;
    font-size: 27px;
    vertical-align: top;
}
.name {
    font-size: 36px;
}
.why {
    display: block;
    width: 590px;
    height: 166px;
    padding-top: 60px;
font-size: 24px;
color: #000000;
}
.h4 {
    display: block;
    width: 545px;
    height: 32px;
    padding-top: 46px;
    color: #000000;
    font-size: 36px;
}
.line {
    list-style-type: "- ";
 display: block;
 width: 256px;
 height: 190px;
 font-size: 24px;

 padding-top: 43px;
 
}
.priem2 {
    display: block;
    width: 341px;
    height: 74px;
    background-color: #cb9223;
    margin: 0px auto;
    margin-top: 44px;
    margin-bottom: 50px;
}
.priem
{
    color: #ffffff;
    padding: 28px 45px 29px 44px;
    font-size: 21px;
}
.bot {
    width: 750px;
    height: 153px;
    background-color: #888888;
    margin: 0px auto;}

   
    .img2 {display: inline-block;
        padding-top: 29px;
    padding-left: 45px;}
    
    .map {
        display: inline-block;
        padding-left: 160px;
        text-decoration: none;
        color: #ffffff;
        font-size: 21px;
    }
    .tel {text-decoration: none;
         color: #ffffff;
        font-size: 20px;}
    .mailito {text-decoration: none;
    color: #ffffff;
font-size: 20px;}
    .contact {
display: inline-block;
    padding-left: 38px;
    font-size: 24px;
    }
    
    